*{
	margin: 0;
	padding: 0;
}
/* ******************* */
$green: #6daf00;
$white: #fff;
$fz: 14px;

body {
	background: black;
}
/* ```````````````````````````slider````````````````` */
/* Первичные стили: */

#slides {
position: relative;
height: 400px;
padding: 0px;
width: 1100px;
margin: 0 auto;
list-style-type: none;
}
.slide {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
 
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}
.showing {
opacity: 1;
z-index: 2;
}

/* Второстепенные стили: */

.slide {
font-size: 40px;
box-sizing: border-box;
color: #fff;
background-size: cover;
img {
	width: 100%;
	height: 100%;
}
}

.controls{
  color: #fff;
  border: none;
  cursor: pointer;
  width: 33%;
  margin: 0 auto;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}


.buttons{
  z-index: 10;
  margin: 0 auto;
  max-width: 1100px;

}
/* ```````````````````````end Slider``````````````````` */

a {
	color: $white;
	text-decoration: none;
}
a .Log1{
	color: $green;
}
a .Log1,.Log2 {

	font-size: $fz*2.5;
}
a .Log3{
	font-size: $fz +5;
}
.banner1 p {
	margin: 0 auto;
	color: $green;
	font-size: $fz*2.8;
}
.header {
    max-width: 1100px;
	margin: 0 auto;
	box-sizing: border-box;
}
.head {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.logo {
	width: 45%;
}
.banner {
width: 50%;
background: #0a0a0a;
}
.banner1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.frame {
	width: 29px;
	height: 74px;
	background: $green;
}
.menu{
	border-top: 2px solid $green;
	border-bottom: 2px solid $green;
}
.menu_cen{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}
.dws_menu ul,
.dws_menu ol{
	list-style: none;
}
.dws_menu > ul{
	display: flex;
	justify-content: flex-start;
}
.dws_menu > ul li a{
	color: $white;
	display: block;
	font-size: $fz -4px;
	padding: 15px 10px 15px 5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.dws_menu > ul li a:hover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(109,175,0,1) 0%, rgba(125,185,232,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(109,175,0,1) 0%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center, rgba(109,175,0,1) 0%,rgba(125,185,232,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daf00', endColorstr='#007db9e8',GradientType=1 );
	box-shadow: 1px 5px 10px -5px $green;
	transition: all 0.3s ease;

}
/*sub menu*/
.dws_menu li ul{
	position: absolute;
	min-width: 150px;
	display: none;

}
.dws_menu li > ul li a{
	padding: 10px;
	text-transform: none;
}
.dws_menu li:hover > ul{
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db96d+0&1+0,0+100 */
background: -moz-linear-gradient(left, rgba(125,185,109,1) 0%, rgba(125,185,109,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(125,185,109,1) 0%,rgba(125,185,109,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(125,185,109,1) 0%,rgba(125,185,109,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db96d', endColorstr='#007db96d',GradientType=1 ); /* IE6-9 */
z-index: 3;
}

.search {
    width: 265px; /* Ширина поля с кнопкой */
    height: 40px; /* Минимальная высота */
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 1px;
   }
   input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 220px; /* Ширина поля */
    vertical-align: middle;  /*Выравнивание по середине */
    height: 40px;
    font-size: $fz;
    color: $white;
    background: #eceae8;
   }
   button[type="submit"] {
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    border: none; /* Убираем рамку */
   outline: none;
   img {
   	height: 40px;
   	width: 40px;
   }
   }
   